@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AB";
  src: local("AB"), url("./assets/angrybirds-regular.ttf") format("opentype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "AB", "Courier New", Courier, monospace;
}

.birdChance {
  box-shadow: rgba(255, 0, 0, 0.12) 0px 2px 4px 0px,
    rgba(255, 0, 0, 0.32) 0px 2px 16px 0px;
  background-color: rgba(254, 202, 202, 1);
}

.pigChance {
  box-shadow: rgba(0, 255, 0, 0.12) 0px 2px 4px 0px,
    rgba(0, 255, 0, 0.32) 0px 2px 16px 0px;
  background-color: rgba(110, 231, 183, 1);
}

.pointer-events-none {
  pointer-events: none;
}
